Repository tapvt/gosh, changes with the labels that .github/labeler.yml gives for each.
All labels: core, config, completion, git, history, prompt, documentation, tests, build, scripts, dependencies

.github/labeler.yml:

# Configuration for the labeler action
# https://github.com/actions/labeler

# Core functionality
"core":
  - "internal/shell/**/*"
  - "internal/parser/**/*"
  - "cmd/**/*"

# Configuration related
"config":
  - "internal/config/**/*"
  - "docs/sample.*"
  - ".goshrc"
  - ".gosh_profile"

# Completion system
"completion":
  - "internal/completion/**/*"
  - "*completion*"

# Git integration
"git":
  - "internal/git/**/*"

# History functionality
"history":
  - "internal/history/**/*"

# Prompt system
"prompt":
  - "internal/prompt/**/*"

# Documentation
"documentation":
  - "docs/**/*"
  - "README.md"
  - "*.md"

# Tests
"tests":
  - "**/*_test.go"
  - "integration_test.go"
  - "test_*.sh"

# Build and CI
"build":
  - "Makefile"
  - "go.mod"
  - "go.sum"
  - ".github/**/*"
  - "Dockerfile"

# Scripts
"scripts":
  - "scripts/**/*"
  - "*.sh"

# Dependencies
"dependencies":
  - "go.mod"
  - "go.sum"

Fix golang-ci lint issues
  .golangci.yml
  cmd/main.go
  internal/completion/completion.go
  internal/completion/completion_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/git/git.go
  internal/history/history.go
  internal/parser/parser.go
  internal/prompt/prompt.go
  internal/shell/shell.go
Labels: core, config, completion, git, history, prompt, tests

Mute remaining linting issues
  .golangci.yml
Labels: none

Fix CI workflow gosec action issue
  .github/workflows/ci.yml
Labels: build

Fix gosec installation path in CI workflow
  .github/workflows/ci.yml
Labels: build

Remove redundant gosec step from CI security job
  .github/workflows/ci.yml
Labels: build

Remove security scan job from CI workflow
  .github/workflows/ci.yml
Labels: build

Fix history command functionality in integration tests
  internal/history/history.go
  internal/parser/parser.go
  internal/shell/shell.go
Labels: core, history

Update CI workflow to fix GitHub Actions issues
  .github/workflows/ci.yml
Labels: build

Fix golangci-lint configuration for v1.64.8 compatibility
  .golangci.yml
Labels: none
